# OS metadata
.DS_Store
Thumbs.db

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Node modules (if package.json is initialized later)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archive/Zip files
*.zip
*.crx
